
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<form method="POST" action="~/Home/TestResult">
    <input type="text" name="name" id="name" />
    <br />
    <input type="submit" value="Go" />
</form>

